{% comment %} https://getbootstrap.com/docs/5.0/components/card/ {% endcomment %}
{% comment %} https://getbootstrap.com/docs/5.0/components/carousel/ {% endcomment %}
{% comment %} https://stackoverflow.com/questions/35993300/horizontally-scrollable-list-of-cards-in-bootstrap/42117768#42117768 {% endcomment %}
{% if movie_cards %}
  <div id="movie-card-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for movie_cards_inner in movie_cards %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="row">
            {% for movie in movie_cards_inner %}
              <div class="col-md-3">
                <div class="card mb-4 {% if movie.bechdelResult == True %}card-pass{% elif movie.bechdelResult == False %}card-fail{% endif %}">
                  <div class="card-img-top">
                    <img src="{{ movie.image }}"/>
                  </div>
                  <div class="card-body">
                    {% if movie.bechdelResult == True %}
                        <h3 class="card-title">PASS</h3>
                    {% elif movie.bechdelResult == False %}
                        <h3 class="card-title">FAIL</h3>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% comment %} Carousel buttons {% endcomment %}
    <button class="carousel-control-prev" type="button" data-bs-target="#movie-card-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#movie-card-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endif %}