{% comment %} Lists the results of a search on movies with minimal data (ie for navbar search). {% endcomment %}
<div id="movie-list-min-container-inner">
  {% if movies_min_by_title %}
    {% for movie in movies_min_by_title %}
      <div class="movie-list-min-entry" onclick="location.href='{% url 'common:movie-details' movie.id %}';"> 
        <img style="height: 75px" class="listed-movie-poster" src="{{movie.image}}" />
        {{ movie.title }} ({{movie.release_year}})
      </div>
      <hr>
    {% endfor %}
  {% endif %}
  <div class="movie-list-min-entry" onclick="location.href='{% url 'common:search' %}?title={{ title }}';">
    <p>More results...</p>
  </div>
</div>