{% extends './page_templates/index.html' %}

{% comment %} The Advanced Search page for filtering movies. {% endcomment %}
{% block title %}Bechdel Tester - Search{% endblock %}

{% block content %}

<h1>Advanced Search</h1>

{% comment %} Search Form {% endcomment %}
{% comment %} https://getbootstrap.com/docs/4.0/components/forms/ {% endcomment %}
{% comment %} https://docs.djangoproject.com/en/4.0/topics/forms/ {% endcomment %}
<form action="{% url 'common:search' %}" method="get">
  <div class="form-group">
    <label for="title-input">Movie Title</label>
    <input name="title" type="text" class="form-control" id="title-input" placeholder="Search for a movie...">
  </div>

  <div class="form-group">
    <label for="year-input">Year Released</label>
    <input name="year" type="text" class="form-control" id="year-input" placeholder="Ex: 2022">
  </div>

  <div class="form-group">
    <label for="genre-input">Genre</label>
    <select multiple  name="genre" class="form-control" id="genre-input">
      <option>Action</option>
      <option>Horror</option>
      <option>Comedy</option>
      <option>Adventure</option>
      <option>Drama</option>
      <option>Thriller/Suspense</option>
      <option>Musical</option>
      <option>Romantic Comedy</option>
      <option>Western</option>
      <option>Black Comedy</option>
      <option>Other</option>
    </select>
  </div>

  <div class="form-group">
    <label for="b-result-input">Passes the Bechdel Test?</label>
    <select name="bResult" class="form-control" id="b-result-input">
      <option>Either</option>
      <option>Pass</option>
      <option>Fail</option>
    </select>
  </div>

  <div class="form-group">
    <label for="order-input">Order By</label>
    <select name="order" class="form-control" id="order-input">
      <option>Movie Title</option>
      <option>Release Date</option>
      <option>Top Grossing</option>
    </select>
  </div>

  <div class="form-check">
    <label class="form-check-label" for="sort-input">Sort By Ascending</label>
    <input checked name="ascending" type="checkbox" class="form-check-input" id="sort-input">
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>

{% comment %} Display the list of movies {% endcomment %}
{% include 'view_wrappers/movie_list_wrapper.html' %}

{% endblock %}
