{% extends './page_templates/index.html' %}

{% comment %} The Homepage {% endcomment %}
{% block title %}Bechdel Tester{% endblock %}

{% block header-scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

{% comment %} Header {% endcomment %}
<div id="home-section-1">
  <h1>Bechdel Tester (Unofficial)</h1>

  <p>
    A webapp designed to show whether or not a movie passes the
    <a href="https://en.wikipedia.org/wiki/Bechdel_test">Bechdel Test</a>.
  </p>

  {% comment %} Lists movies in card form {% endcomment %}
  {{ movie_cards }}

  <p><b>In short, a movie passes the Bechdel Test if:</b></p>

  <ol class="mx-auto" style="width: 300px">
    <li style="text-align: left">It has at least two named women in it</li>
    <li style="text-align: left">Who talk to each other</li>
    <li style="text-align: left">About something other than a man</li>
  </ol>

  <div class="home-btn-group">
    <a class="btn btn-lg btn-primary" href="{% url 'common:search' %}" role="button">Search For A Movie</a>
  </div>
  <div class="home-btn-group">
    <a class="btn btn-outline-dark" href="{% url 'common:info' %}#info-section-2" role="button">Add A Movie</a>
    <a class="btn btn-outline-dark" href="{% url 'common:info' %}" role="button">More Info</a>
  </div>
</div>

{% comment %} Graphs {% endcomment %}
<div id="home-section-2" class="my-section">
  <h2 class="my-h"></h2>
  <div class="row">
    <div class="col-md-6 mb-5 mb-md-0">
      <h4>% of movies that pass by year</h4>
      {{ results_by_year }}
    </div>
    <div class="col-md-6">
      <h4>% of movies that pass by genre</h4>
      {{ results_by_genre }}
    </div>
  </div>
</div>

{% comment %} More Info {% endcomment %}
<div id="home-section-3" class="my-section">
  <h2 class="my-h">Disclaimer & Acknowledgements</h2>
  <p>
    The site in its current state is only a proof of concept and still contains multiple bugs and quirks.
    You can <a href="{% url 'common:info' %}">view the "More Info" page</a> for implementation details and future considerations.
  </p>
  <p>
    This website is in no way affiliated with Alison Bechdel. To support her directly, please
    <a href="https://dykestowatchoutfor.com/">visit her website</a>.
  </p>
  <p>
    Initial data sourced from <a href="https://bechdeltest.com/">bechdeltest.com</a> and
    <a href="https://www.the-numbers.com/market/">the-numbers.com</a>. Gross sales figures
    are based on movie theater ticket sales and do not factor in views via streaming services.
  </p>
</div>
{% endblock %}
