/**
 * ========= GENERAL =========
 */
#page-content {
  padding-top: 56px; /* To offset page from navbar */
  /* background-color: white; */
}

#page-footer {
  background-color: rgba(33 37 41); /* matches the navbar */
  color: white;
  text-align: center;
}

#movie-list-min-container {
  position: fixed;
  top: 56px; /* so it's right under the navbar*/
  left: 0;
  z-index: 2000; /* navbar has 1030 so ensure it's in front of that */
  background-color: rgb(255 255 255);
  padding: 10px;
}

#movie-list-min-entry:hover {
  cursor: pointer;
  background-color: rgb(128, 214, 253);
}


/**
 * ========= HOMEPAGE =========
 */
/* #home-section-1 {
  background-color: rgba(15 15 15);
  color: white;
} */

/* #home-section-3 {
  background-color: rgba(15 15 15);
  color: white;
} */

.graph-wrapper {
  width: 60%;
}


/**
 * ========= ADVANCED SEARCH PAGE =========
 */
.form-group {
  margin: 10px;
}


/**
 * ========= MOVIE DETAILS PAGE =========
 */